header {
  position: fixed;
  height: 9vh;
  z-index: 10;
  width: 100%;
  transition: all 200ms ease;
}

.nav-bg {
  background-color: #0F172A; /* Dark background color */
}

.nav-fixed {
  position: fixed; /* Fixed positioning */
}


.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  display: flex;
  /* flex-direction: row; */
}

.innerContainer img {
  width: 90px;
  height: 90px;
  margin-left: 2px;
}

.navLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsiveLinks {
  display: flex;
  flex-direction: row;
}

.linkStyle {
  position: relative;
  color: inherit; /* Maintain text color */
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  width: fit-content;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
}

.linkStyle::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Adjust underline thickness */
  background-color: yellow;
  transition: width 0.3s ease-in-out; /* Smooth fade-in effect */
}

.linkStyle:hover::after {
  width: 100%;
}

.ctaLinkStyle{
  position: relative;
  color: inherit; /* Maintain text color */
  text-decoration: none;
  font-size: large;
  font-weight: 300;
  width: fit-content;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px 16px;
  /* background-color: white; */
  color: white;
  border-radius: 5px;
}

.ctaLinkStyle:hover{
  background-color: rgb(216, 244, 2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: black;
}

.menu {
  display: none;
  width: 24px;
  height: 24px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .responsiveLinks {
    display: none;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Adjust for your breakpoint */
  .menu {
    display: block; /* Show text on small screens */
  }
  .responsiveLinks {
    display: none;
  }
  .icon {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
}
