@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #01376a, #011f40);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.section-title {
  @apply text-center sm:text-2xl md:text-3xl lg:text-[44px] md:leading-[60px] font-bold tracking-tighter text-white;
}

.section-description {
  @apply text-center sm:text-sm md:text-lg lg:text-[22px] leading-[30px] tracking-tight text-white;
}

.card {
  @apply sm:p-10 lg:p-8 border border-[#222222]/10 rounded-3xl  max-w-xs w-full bg-white text-black;
}

.expert-card {
  @apply sm:p-4 md:p-4 lg:p-6 border border-gray-300  max-w-xs w-full;
}
